<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" src="<%= BASE_URL %>static/xterm.css" />
    <title>frontend</title>
    <style>
    html, body {
      margin: 0px;
      padding: 0px;
      height: 100%;
      width: 100%;
      background-color:darkslategray;
    }
    </style>
  </head>
  <body style="padding:0px;margin:0px;">
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
