<template>
    <div class="actionbar">
        <ActionButton
            v-for="action in this.$store.state.currentAction"
            :key="action.id"
            :name="action.name"
            :type="action.iconType"
            :callback="action.callback"
        />
    </div>
</template>

<script>
import ActionButton from './ActionButton.vue'

export default {
    name: 'actionbar',
    components: {
        ActionButton
    },
    methods: {
        newFile () {
            if (!this.$store.state.currentSelection) {
                alert('No selected parent folder. Will create in root folder.');
            }

            this.$store.dispatch('newFile', prompt('File name:'));
        },
        rename () {
            let oldName = this.$store.state.currentSelection.path;
            let newName = prompt(`Current name: ${oldName}, new name:`);
            this.$store.dispatch('rename', {oldName:oldName,newName:newName});
        },
        newFolder () {
            if (!this.$store.state.currentSelection) {
                alert('No selected parent folder. Will create in root folder.');
            }

            this.$store.dispatch('newFolder', prompt('Folder name:'));

        },
        deleteItem () {
            this.$store.dispatch('delete', this.$store.state.currentSelection);
        },
        run () {
            this.$store.dispatch('runFile', this.$store.state.currentSelection);
        },
        saveFile () {
            this.$store.dispatch('saveFile');
        },

        uploadFile () {

        },
        downloadFile () {

        }
    }
}
</script>

<style>
.actionbar {
    background-color: lightgray;
    color: black;
    padding-inline-start: 8px;
    height: 26px;
    vertical-align:middle;
}
.vertical-seperator {
    height: 100%;
    background-color: #000000;
    width: 10px;
}
</style>

