<template>
    <div class="actionbutton" @click="invokeCallback" @load="load">
        <img style="float:left;width:22px" :src="`${publicPath}static/${type}.svg`" :align="align" /><img v-if="secondaryType" style="float:left;width:22px" :src="`${publicPath}static/${secondaryType}.svg`" :align="align" />{{ name }} 
    </div>
</template>

<script>
export default {
    name: 'actionbutton',
    props: {
        type: String,
        secondaryType: String,
        name: String,
        callback: Function,
        align: String,
    },
    data () {
        return {
            publicPath: process.env.BASE_URL
        }
    },
    methods: {
        invokeCallback () {
            this.$props.callback();
        },
        load () {
            alert('loaded');
        }
    }
}
</script>

<style scoped>
.actionbutton {
    color: black;
    overflow: hidden;
    box-sizing: border-box;
    float: left;


    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
</style>
