<template>
    <div class="bottom-editor-bar">
        <span>
            {{ this.$store.state.currentLanguage }}
        </span> | 
        <LineColIndicator /> |
        <SandboxStatus />
    </div>
</template>

<script>
import PropertySelector from './PropertySelector.vue'
import LineColIndicator from './LineColIndicator.vue'
import SandboxStatus from './SandboxStatus.vue'

export default {
    name: 'BottomEditorBar',
    components: {
        PropertySelector,
        LineColIndicator,
        SandboxStatus
    }
}
</script>

<style scoped>
.bottom-editor-bar {
    background-color: lightslategray;
    height: 20px;
    font-size: 11px;
}
</style>

