<template>
    <div class="terminal-wrapper">
        <div id="terminal">
        </div>
    </div>
</template>


<script>
import Terminal from './xterm.js'
import config from '../config.js'

export default {
    name: 'console',
    mounted () {
        let term = new Terminal();
        let target = document.getElementById('terminal');
        term.open(target);
        this.$store.dispatch('setTerminal', term);
        term.fit();
        
        // this is for the ease of debugging on browser...
        window.terminal = term;

        if (!this.$store.state.socket) {
            this.$store.dispatch('connect',
                `${config.websocket}/terminal`
            )
        }
        term.on('key', (key) => {
            if (key === '\r') {
                key = '\r\n';
            }
            term.write(key);
            this.$store.state.socket.send(`2${key}`)
        })
        this.$store.commit('setSandboxStatusMsg', 'Sandbox request sent. Waiting for allocation...')

    }
}
</script>

<style scoped>
#terminal {
    height: 40vh;
}
</style>


