<template>
    <div class="descriptionpage">
        <h1 style="margin:0px;">Welcome to CodeRunner</h1>
        Please <a @click="switchToLogin" style="text-decoration:underline">log in</a> if you haven't log in,
        or you can <a @click="switchToSignup" style="text-decoration:underline">create a new account</a>.
    </div>
</template>

<script>
export default {
    name: 'descriptionpage',
    methods: {
        switchToLogin () {
            this.$store.dispatch('switchToLogin');
        },
        switchToSignup () {
            this.$store.dispatch('switchToSignup');
        }
    }
}
</script>

<style scoped>
.descriptionpage {
    width: 100%;
    padding-block-start: 0%;
    padding-inline-start: 8px;
    background-color: lightgray;
}
</style>

