<template v-else>
    <div class="direntry" :key="content.id">
        <img
            style="float:left;width:16px"
            v-if="isFolder"
            @click="handleExpand"
            :src="`${publicPath}static/${childDisplayed?'chevron-down':'chevron-right'}.svg`"
            align="center"
        />
        <span>
            <div class="direntry-button"
                @click="selectFile"
                @dblclick="handleDblClick"
                :style="selectedStyle">
                <img v-if="isFolder" src="../assets/folder.svg" style="width:16px" />
                <img v-else src="../assets/file.svg" style="width:16px" />
                {{ content.path }}
            </div>
            <template v-if="childDisplayed">
                <DirEntry
                    v-for="child in content.content"
                    :key="child.id"
                    :content="child"
                />
            </template>
        </span>
    </div>
</template>


<script>
import Util from '../util.js';
import API from '../api.js';

export default {
    name: 'DirEntry',
    props: {
        content: Object
    },
    data () {
        return {
            publicPath: process.env.BASE_URL,
            childDisplayed: false,
        }
    },
    methods: {
        selectFile () {
            if (this.$props.content.path !== '.') {
                this.$store.commit('select', this.$props.content)
            }
        },
        handleDblClick () {
            // 在这里要去掉之前设置的selected。
            if (this.$props.content.path === '.') return;
            this.$store.commit('select', this.$props.content)
            // 双击打开文件/进入文件夹。
            if (this.$props.content.isdir) {
                this.$store.commit('_setPwd', Util.getPath(this.$props.content))
            } else {
                /* TODO:
                现在文件名是从currentSelection得来的。这个做法是错的，因为无法正确处理
                选择了目录的情况。
                正确的逻辑：
                1. store.js里将currentSelection分为currentSelection, currentFile, pwd（currentDir）三个部分。
                2. DirEntry里对应修改双击事件。
                3. API.getFile从currentFile和pwd取路径，不再从currentSelection取。
                */
                const path = Util.getPath(this.$props.content)
                this.$store.commit('_setPwd', this.$props.content.inhabitPath)
                API.getFile(path)
                .then((res) => {
                    if (res.type === 'warn') {
                        alert(`WARNING: ${res.content.warnmsg}`)
                    }
                    this.$store.state.editor.setValue(res.content.content);
                    this.$store.state.editor.selection.clearSelection();
                    let path = this.$props.content.path;
                    let mres = path.match(/\.([^\/.]*?)$/);
                    let postfix = mres? path.match(/\.([^\/.]*?)$/)[1] : 'txt';
                    this.$store.dispatch('useLanguage', postfix);
                }).catch((reason) => {
                    alert(`Failed to get file with reason ${reason}.`)
                })
            }
        },
        handleExpand () {
            this.$data.childDisplayed = !this.$data.childDisplayed;
        }
    },
    computed: {
        isFolder () {
            return this.$props.content.content
        },
        selectedStyle () {
            let res = '';
            if (this.$props.content.selected) {
                res += 'background-color:white;'
            }
            if (!this.$props.content.isdir) {
                res += 'padding-left: 16px';
            }
            return res;
        }
    },
    mounted () {
    }
}
</script>


<style scoped>
.direntry {
    padding-inline-start: 16px;
    font-size: 12px;
    background-color: lightgray;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.direntry[selected="selected"] {
    background-color: darkgreen;
}
</style>

