<template>
    <div class="dirtree">
        <WDIndicator />
        <DirEntry :content="c_dirtree" />
    </div>
</template>

<script>
import WDIndicator from './WDIndicator.vue'
import DirEntry from './DirEntry.vue'

export default {
    name: 'DirTree',
    props: {
        dirtree: Object,
    },
    data () {
        return {

        }
    },
    computed: {
        c_dirtree () {
            return this.$store.state.dirTree? this.$store.state.dirTree : this.$props.dirtree;
        }
    },
    components: {
        DirEntry,
        WDIndicator
    },
    mounted () {
    }
}
</script>

<style scoped>
.dirtree {
    width: 20%;
    overflow: scroll;
}
</style>
