<template>
    <div class="editor">
        <div id="editor-element"></div>
    </div>
</template>

<script>
import ace from 'ace-builds'
import 'ace-builds/src-min-noconflict/ext-language_tools';
import 'ace-builds/src-min-noconflict/snippets/java';
import 'ace-builds/src-min-noconflict/snippets/groovy';
import 'ace-builds/src-min-noconflict/ext-settings_menu';
export default {
    name: 'editor',
    mounted () {
        ace.config.set('basePath', '/static/ace');
        ace.require("ace/ext/language_tools");
        let acee = ace.edit('editor-element');
        ace.require("ace/ext/settings_menu").init(acee);
        acee.setOption("enableBasicAutocompletion", true);
        acee.setOption("enableSnippets", true);
        acee.setOption("enableLiveAutocompletion", true);
        acee.commands.addCommands([{
            name: "showSettingsMenu",
            bindKey: {win: "Ctrl-q", mac: "Ctrl-q"},
            exec: function (editor) {
                editor.showSettingsMenu();
            },
            readOnly: true
        }]);
        window.editor = acee;
        acee.resize();
        this.$store.commit('setEditor', acee);
        console.log(this.$store.state.editor);
    },
    components: {
    }
}
</script>


<style scoped>
:root {
    --editor-height: calc(100% - 30px);
}

#editor-element {
    width: 100% !important;
    height: 40vh;
}
</style>

