<template>
    <div class="descriptionpage">
        <h1 style="margin:0px;">Something went wrong.</h1>
        {{ this.$store.state.currentErrorMsg }}
    </div>
</template>

<script>
export default {
    name: 'ErrorPage',
}
</script>

<style scoped>
.descriptionpage {
    width: 100%;
    padding-block-start: 0%;
    padding-inline-start: 8px;
    background-color: lightyellow;
}
</style>

