<template>
    <div class="header">
        CodeRunner |
        <span class="header-right-wrapper">
            <template v-if="!isLoggedIn">
                <LinkButton :callback="switchToLogin">Login</LinkButton>&nbsp;
                <LinkButton :callback="switchToSignup">Create Account</LinkButton>
            </template>
            <template v-else>
                    Welcome, {{ $store.state.currentUsername }}.
                <LinkButton :callback="logOut">Logout</LinkButton>
            </template>
        </span>
    </div>
</template>

<script>
import LinkButton from './LinkButton.vue'

export default {
    name: 'Header',
    data () {
        return {
            username: this.$store.state.currentUsername
        }
    },
    computed: {
        isLoggedIn () {
            return this.$store.state.currentUsername
        }
    },
    methods: {
        switchToLogin: function () {
            this.$store.dispatch('switchToLogin');
        },
        switchToSignup: function () {
            this.$store.dispatch('switchToSignup');
        },
        logOut: function () {
            this.$store.dispatch('logOut');
        }
    },
    components: {
        LinkButton
    }
}
</script>

<style scoped>
.header {
    background-color: black;
    color: white;
    padding-inline-start: 8px;
    font-size: 16px;
    height: 30px;
    border-block-end: 1px white solid;
}
.header-right-wrapper {
    padding-inline-end: 8px;
}
</style>
