<template>
    <span class="linecolindicator">
        Ln {{ line }}, Col {{ col }}
    </span>
</template>

<script>
export default {
    name: 'LineColIndicator',
    computed: {
        line () {
            if (this.$store.state.editor) {
                return this.$store.state.editor.selection.getCursor().row + 1;
            }
        },
        col () {
            if (this.$store.state.editor) {
                return this.$store.state.editor.selection.getCursor().column + 1;
            }
        }
    }
}
</script>

<style scoped>

</style>

