<template>
    <a @click="callback" style="text-decoration:underline"><slot></slot></a>
</template>

<script>
export default {
    name: 'LinkButton',
    props: {
        callback: Function
    }
}
</script>
