<template>
    <div class="loginpage">
        <h1 style="margin:0px">Login</h1>
        <form>
            Username: <input type="text" placeholder="Username" v-model="username" /><br />
            Password: <input type="password" placeholder="Password" v-model="password" /><br />
            <a @click="login" style="text-decoration:underline">Login</a> | <a @click="cancelLogin" style="text-decoration:underline">Back</a>
        </form>
    </div>
</template>

<script>
export default {
    name: 'loginpage',
    data () {
        return {
            username: null,
            password: null
        }
    },
    methods: {
        login () {
            this.$store.dispatch('login', {
                username: this.$data.username,
                password: this.$data.password
            });
        },
        cancelLogin () {
            this.$store.dispatch('switchToDescription');
        }
    }
}
</script>

<style scoped>
.loginpage {
    width: 100%;
    padding-block-start: 0%;
    padding-inline-start: 8px;
    background-color: lightgray;
}
</style>

