<template>
    <div class="menubar">
        <menu-item name="File" :callback="showFileAction" />
        <menu-item name="Editor" :callback="showEditorAction" />
        <menu-item name="Project" :callback="showProjectAction" />
        <MenuItem name="Build" :callback="showBuildAction" />
        <MenuItem name="Run" :callback="showRunAction" />
    </div>
</template>

<script>
import MenuItem from './MenuItem.vue';
export default {
    name: 'MenuBar',
    components: {
        MenuItem,
    },
    data () {
        let nextId = 0;
        return {
            menuFile: [
                {
                    id: nextId++,
                    name: "New File",
                    content: []
                },
                {
                    id: nextId++,
                    name: "New File",
                    content: []
                },
                {
                    id: nextId++,
                    name: "New File",
                    content: []
                },
                
            ],
            menuEditor: {

            }
        }
    },
    methods: {
        showFileAction () {
            this.$store.dispatch('setActionToFileAction');
        },
        showEditorAction () {
            this.$store.dispatch('setActionToEditorAction');
        },
        showProjectAction () {
            this.$store.dispatch('setActionToProjectAction');
        },
        showBuildAction () {
            this.$store.dispatch('setActionToBuildAction');
        },
        showRunAction () {
            this.$store.dispatch('setActionToRunAction');
        }
    }
}
</script>

<style>
.menubar {
    background-color: darkslategrey;
    color: white;
    padding-inline-start: 8px;
    height: 24px;
    font-size: 14px;
    display: flex;
    overflow: visible;
    vertical-align: center;
}
.vertical-seperator {
    height: 100%;
    background-color: #000000;
    width: 10px;
}
</style>

