<template>
    <span class="menuitem"
            @mouseenter="handleShowChild"
            @mouseleave="handleHideChild">
        <div
            class="menuitem-name"
            @click="guardedCallback"
        >
            {{ name }}
        </div>
    </span>
</template>

<script>
export default {
    name: 'MenuItem',
    props: {
        name: String,
        callback: Function,
        content: Array
    },
    data () {
        return {
            childExistsAndDisplayed: false,
        }
    },
    methods: {
        handleShowChild () {
            if (this.$props.content && this.$props.content.length) {
                this.$data.childExistsAndDisplayed = true;
            }
        },
        handleHideChild () {
            if (this.$props.content && this.$props.content.length) {
                this.$data.childExistsAndDisplayed = false;
            }
        }
    },
    computed: {
        guardedCallback () {
            return this.$props.callback? this.$props.callback : ()=>{}
        }
    }
}
</script>

<style scoped>
.menuitem {
    padding-inline-start: 3px;
    padding-inline-end: 3px;
    background-color: darkslategray;
    color: white;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
</style>
