<template>
    <span class="sandboxstatus">
        {{ this.$store.state.sandboxStatusMsg }}
    </span>
</template>

<script>
export default {
    name: 'SandboxStatus',
}
</script>

<style scoped>
.sandboxstatus {
    font-size: 11px;
}
</style>

