<template>
    <div class="signuppage">
        <h1 style="margin:0px">Create Account</h1>
        <form>
            Username: <input type="text" placeholder="Username" v-model="username" /><br />
            Password: <input type="password" placeholder="Password" v-model="password" /><br />
            <a @click="signup" style="text-decoration:underline">Create Account</a> | <a @click="cancelSignup" style="text-decoration:underline">Back</a>
        </form>
    </div>
</template>

<script>
export default {
    name: 'signuppage',
    data () {
        return {
            username: null,
            password: null
        }
    },
    methods: {
        signup () {
            if (this.$data.password.length < 6) {
                alert('Password must be at least 6 characters long.')
                return;
            }
            this.$store.dispatch('signup', {
                username: this.$data.username,
                password: this.$data.password
            });
        },
        cancelSignup () {
            this.$store.dispatch('switchToDescription');
        }
    }
}
</script>

<style scoped>
.signuppage {
    width: 100%;
    padding-block-start: 0%;
    padding-inline-start: 8px;
    background-color: lightyellow;
}
</style>

