<template>
    <div class="wdindicator">
        {{ $store.state.pwd }}
    </div>
</template>

<script>
export default {
    name: 'WDIndicator'    
}
</script>

<style scoped>
.wdindicator {
    background-color: lightslategray;
    padding-inline-start: 8px;
    border: 1px darkslategray solid;
    font-size: 12px;
}
</style>
