<template>
    <div class="workspace">
        <MenuBar />
        <ActionBar />
        <DirTree class="left" :dirtree="dirtree"/>
        <div class="main">
            <Editor />
            <Console />
            <BottomEditorBar />
        </div>
    </div>
</template>

<script>
import MenuBar from './MenuBar.vue'
import ActionBar from './ActionBar.vue'
import DirTree from './DirTree.vue'
import Editor from './Editor.vue'
import Console from './Console.vue'
import BottomEditorBar from './BottomEditorBar.vue'
export default {
    name: 'workspace',
    data () {
        return {
            dirtree: {
                id: 0,
                path: '.',
                selected: false,
                content: []
            },
        }
    },
    components: {
        MenuBar,
        ActionBar,
        DirTree,
        Editor,
        Console,
        BottomEditorBar
    }
}
</script>

<style scoped>
.workspace {
    background-color: darkslategray;
    width: 100%;
}
.left {
    width: 20%;
    float: left;
    border-block-end: 1px darkslategray solid;
}
.main {
    width: 80%;
    height: 100%;
    float: right;
}
</style>
