<template>
  <div id="app">
    <Header /><template>
      <Workspace v-if="$store.state.currentPage === 'workspace'" />
      <LoginPage v-else-if="$store.state.currentPage === 'login'" />
      <DescriptionPage v-else-if="$store.state.currentPage === 'description'" />
      <SignUpPage v-else-if="$store.state.currentPage === 'signup'" />
      <ErrorPage v-else-if="$store.state.currentPage === 'error'" />
    </template>
  </div>
</template>
<script>
import store from './store.js'
import Header from './components/Header.vue'
import Workspace from './components/Workspace.vue'
import LoginPage from './components/LoginPage.vue'
import DescriptionPage from './components/DescriptionPage.vue'
import SignUpPage from './components/SignUpPage.vue'
import ErrorPage from './components/ErrorPage.vue'

export default {
  name: 'App',
  store,
  components: {
    Header,
    Workspace,
    LoginPage,
    DescriptionPage,
    SignUpPage,
    ErrorPage
  },
  mounted () {
    this.$store.dispatch('setActionToFileAction')
  }
}
</script>


<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  border: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}
</style>
